services:
  php:
    user: root
    build: .
    container_name: php-symfony-mongo
    working_dir: /var/www

    environment:
      MONGODB_URI: "mongodb://symfony-mongodb:27017/symfony"
      # Path REAL onde o arquivo estará dentro do container
      MONGODB_CRYPT_SHARED_LIB_PATH: "/lib/mongo_crypt_v1.so"

    extra_hosts:
      - "host.docker.internal:host-gateway"

    depends_on:
      - mongodb

    volumes:
      # Código do host → container
      - ./financial-harmony:/var/www:cached

      # Arquivo mongo_crypt_v1.so montado corretamente dentro do container
      - ./financial-harmony/bin/lib/mongo_crypt_v1.so:/lib/mongo_crypt_v1.so:ro

      # var/cache e var/log dentro do container
      - symfony_var:/var/www/var

      # vendor dentro do container (evita permission issues)
      - symfony_vendor:/var/www/vendor

    networks:
      - appnet


  nginx:
    image: nginx:latest
    container_name: symfony-nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./financial-harmony/public:/var/www/public:ro
    depends_on:
      - php
    networks:
      - appnet


  mongodb:
    image: mongo:7.0
    container_name: symfony-mongodb
    restart: unless-stopped
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all"]
    environment:
      MONGO_INITDB_DATABASE: ${MONGODB_DB:-app}
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USERNAME:-}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PASSWORD:-}
    volumes:
      - mongodb_data:/data/db
      - ./docker/mongo/init-rs.js:/docker-entrypoint-initdb.d/init-rs.js:ro
    ports:
      - "27017:27017"
    networks:
      - appnet


# ------------------------------
# VOLUMES
# ------------------------------
volumes:
  mongodb_data:
  symfony_var:
  symfony_vendor:


# ------------------------------
# NETWORKS
# ------------------------------
networks:
  appnet:
